*.iml
.gradle
/local.properties
/.idea
/build
/captures
/test-reports
/test-results
app/src/main/java/
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
